/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #397ce7 0%, #0c3ca4 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counters {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

button {
  padding: 0;
  align-items: center;
  line-height: 0;
} */
/* .first-input form, .first-input button {
  color: rgb(11, 212, 162);
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
.first-input form, .first-input button:hover {
  background: rgb(11, 212, 162);
  color: white;
} */
/* .todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
} */

/* .filter-todo {
  padding: 1rem;
} */

/* .todo {
  margin: 1rem;
  font-size: 2.1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}
.todo li {
  background: white;
}
.todo li, .todo textarea{
  flex: 1 1;
}

.todo textarea {
  font-size: 2.1rem;
  padding: 0 0.5rem;
  font-family: "Poppins", sans-serif;
  border: none;
  box-sizing: border-box;
}

.todo form {
  all:unset;
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  min-width: 90%;
} */

/* .trash-btn,
.complete-btn,
.edit-btn {
  background: #f1d713;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.edit-btn {
  background: rgba(173, 173, 173, 0.867);
} */
/* .todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
} */

/* .completed {
  text-decoration: line-through;
  color:rgba(173, 173, 173, 0.867);
}

.input-completed {
  color:rgba(173, 173, 173, 0.867);
} */

/*CUSTOM SELECTOR */
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  color: black;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  padding:1rem;
} */

/* Custom Select */
/* .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
} */

/* Arrow */
/* .select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: rgb(11, 212, 162);
  cursor: pointer;
  pointer-events: none;
} */
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/